<h3>Datos Generales</h3>
<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Escuela</th>
                                <th>Curp</th>
                                <th>Nombre</th>
                                <th>Número de Control</th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in ctrl.alumnos">
                                <td>{{x.escuela}}</td>
                                <td>{{x.curp}}</td>
                                <td>{{x.nombre}}</td>
                                <td>{{x.num_control}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>