<h3>Mantenimiento al Catálogo de Carreras / Especialidades</h3>
<div class="row">

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">Catálogo de Escuelas</div>
            <div class="panel-body">
                <select class="form-control">
                    <option value="">Seleccione una Escuela</option>
                    <option value="">CENTRO DE BACHILLERATO TECNOLÓGICO VICENTE GUERRERO</option>
                    <option value="">CENTRO DE ASESORÍA DE PREPARATORIA ABIERTA VICENTE GUERRERO</option>
                    <option value="">INSTITUTO LATINOAMERICANO DE ESTUDIOS SUPERIORES</option>
                </select>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Catálogo de Carreras / Especialidades</div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Carrera</th>
                            <th>Nombre de la Carrera / Especialidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>PSU-158</td>
                            <td>LICENCIATURA EN SISTEMAS DE INFORMACIÓN ADMINISTRATIVA</td>
                        </tr>
                        <tr>
                            <td>PSU-159</td>
                            <td>LICENCIATURA EN ADMINISTRACIÓN Y GESTIÓN DE EMPRESAS</td>
                        </tr>
                        <tr>
                            <td>BTCSEAR11</td>
                            <td>ADMINISTRACIÓN DE RECURSOS HUMANOS</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">Datos del Catálogo de Carreras / Especialidades</div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Escuela</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Carrera</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nombre de la Carrera</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Área de Carrera</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Créditos</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
