<h3>Mantenimiento al Catálogo de Planes de Estudio</h3>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">Catálogo de Escuelas</div>
            <div class="panel-body">
                <select class="form-control">
                    <option value="">Seleccione una Escuela</option>
                    <option value="">CENTRO DE BACHILLERATO TECNOLÓGICO VICENTE GUERRERO</option>
                    <option value="">CENTRO DE ASESORÍA DE PREPARATORIA ABIERTA VICENTE GUERRERO</option>
                    <option value="">INSTITUTO LATINOAMERICANO DE ESTUDIOS SUPERIORES</option>
                </select>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Catálogo de Carreras o Especialidades</div>
            <div class="panel-body">
                <select class="form-control">
                    <option value="">Seleccione una Carrera o Especialidad</option>
                    <option value="">ADMINISTRACIÓN DE RECURSOS HUMANOS</option>
                    <option value="">PROGRAMACIÓN</option>
                    <option value="">LICENCIATURA EN SISTEMAS DE INFORMACIÓN ADMINISTRATIVA</option>
                    <option value="">LICENCIATURA EN ADMINISTRACIÓN Y GESTIÓN DE EMPRESAS</option>
                </select>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Catálogo de Planes y Programas de Estudio</div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Semestre</th>
                            <th>Serial</th>
                            <th>Nombre de la Materia</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>MATEMÁTICAS BÁSICAS</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>PROCESO ADMINISTRATIVO</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>3</td>
                            <td>CONTABILIDAD I</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>







    </div>

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">Datos del Catálogo de Planes y Programas de Estudio</div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Escuela</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Carrera</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">semestre</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control">
                        </div>
                        <label class="col-sm-2 control-label">serial</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Materia</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Horas</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control">
                        </div>
                        <label class="col-sm-2 control-label">Créditos</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
